*.classpath
*.project
*.buildpath
*.class
bin/
Website/others/
.settings/
phpMyAdmin/
MMS/.metadata/.lock
MMS/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
MMS/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
MMS/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
MMS/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
MMS/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
MMS/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
MMS/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
MMS/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
MMS/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
MMS/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
MMS/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
MMS/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
MMS/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
MMS/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
MMS/.metadata/version.ini
MMS/logging.txt
MMS/logging.txt.1
MMS/logging.txt.2
MMS/logging.txt.3
MMS/MMSLog.txt
MMS/MMSLog.txt.1
MMS/MMSLog.txt.2
